@charset "utf-8";






#wrapper{max-width:414px; height:100%; margin:0 auto; position:relative}

#header{width:100%}
.header_menu{position:absolute; top:0; right:0; margin:3%}
.header_menu li{float:left; margin-left:15px}
.header_menu li:nth-of-type(1) a{display:block; background:url(../images/ich_icon_sns.png) no-repeat 0 0 / 30px 30px; width:30px; height:30px; font-size:0; margin-left:0}
.menubox{margin-top:5px}
.menubox span{display:block; width:30px; height:3px; margin-bottom:5px; background-color:#fff; font-size:0; transition:all 0.3s ease}
.boxOn span:nth-of-type(1){transform:rotate(45deg) translate(6px, 5px)}
.boxOn span:nth-of-type(2){display:none}
.boxOn span:nth-of-type(3){transform:rotate(135deg)}


.nav_menu{position:absolute; right:-9999px; top:50px; width:95%; height:auto; z-index:1000;
			background-color:#fff; padding:3%; text-align:center}
.nav_1depth > a{display:inline-block; width:100%; font-size:25px; color:#3a71ee; border-bottom:1px solid #3a71ee; padding-bottom:5px}
.nav_1depth > a:last-child{border-bottom:none}

.nav_2depth{margin-bottom:40px; line-height:2}
.nav_2depth a{display:inline-block; font-size:18px}